
*.pdb
*.dll
*.dll
*.pdb
*.pdb
*.dll
.vs/NilsenRaceFormulaReports/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.dll
*.dll
*.cache
*.dll
*.cache
*.exe
RacesCSVToExcel_1_0/bin/Debug/NilsenRaceFormulaReports.application
*.manifest
*.dll
*.dll
.vs/NilsenRaceFormulaReports/DesignTimeBuild/.dtbcache
RacesCSVToExcel_1_0/obj/x86/Release/NilsenRaceFormulaReports.csproj.ResolveComReference.cache
RacesCSVToExcel_1_0/obj/x86/Release/NilsenRaceFormulaReports.csproj.ResolveComReference.cache
bin/
obj/